<h1>Template Engine</h1>
<p>Una pagina statica è una pagina web uguale per tutti che una volta creata, se deve essere modificaba, bisogna farlo manualmente. Una pagina dinamica invece è una pagina web in cui la struttura rimane invariata e il contenuto è diverso in base alle richieste di ciascun utente</p>
<p >Il Template Engine crea i modelli uguali per tutti e li riempie con contenuti diversi a seconda della query fatta dall'utente al database</p>
<h2>Handlebars</h2>
<p>Handlebars è un'estensione di Mustache template engine che si occupa di creare modelli semplici</p>
